$colors: (
  bg: #E5E5E5,
  primary: #2176FF,
  black: #333333,
  secondary: #FDCA40,
  tertiary: #FF6C6C
);

$shadows: (
  white-card: 0px 10px 30px 5px rgba(102, 102, 102, 0.2), 
  white-item: 0px 2px 5px 3px rgba(102, 102, 102, 0.1),
  secondary-btn: 8px 0px 30px 5px rgba(255, 173, 5, 0.2)
);